* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* -- GENERAL -- */

html,body 
{
    padding-left: 143px;
    padding-right: 150px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

h4
{
    font-weight: normal;
}

main
{
    padding-bottom: 50px; 
    padding-left:35px;
}

section
{
    padding-bottom: 50px;
}

footer 
{
    line-height: 2em;
    padding: 50px;
}

/* -- HEADER -- */

.navbar 
{ 
    padding-right: 600px;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 999;
    position: fixed;
}

#trait 
{
    border-top: solid medium #0065FC;
    color: #0065FC;
    margin-top: -20px;
    padding-top: 36px;
}

#act
{
    padding-top: 20px;

}

#ins
{
    padding-top: 20px;

}

.logo
{
    min-width: 100px;
    width: 3%;
}

.img
{   
    min-height: 100px;
    height: 3%;
    min-width: 200px;
    width:3%;
}

.presentation 
{
    display: flex;
    justify-content:flex-end ;
    width: 1536px;
}

.presentation, a 
{
    text-decoration: none;
    color: black;
}

.lien
{
    margin-right: 50px;
}

/*-- BARRE DE RECHERCHE --*/

.topnav 
{
    display: flex;
    padding-bottom:25px;   
}
  
.topnav input[type=text] 
{
    padding:8px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button 
{
    float: right;
    padding: 10px;
    margin-top: 8px;
    background:#0065FC;
    color:white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
  }
  
/*-- FILTRE --*/

#filtre 
{
    background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
    padding-top: 100px;
}

#filtreContainer
{
    display:flex;
    padding-bottom: 30px;
    
}

#filterContainer 
{
    display: flex;
}

#filterContainer h3 
{
  
    margin-right: 15px;
    margin-top: 15px;
}

.filtretexte
{
    display: flex;
    border: 2px solid #e0e0e0;
    border-radius: 50px;
    margin-right: 1.5em;
    cursor: pointer;
}

.filtretexte p 
{
    margin: 1em 1.5em 1em .5em !important;
    font-weight: 900;
}

.filtre
{    
    background-color:#DEEBFF;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    color: #0065FC;
    position: relative;
    left: -.5em;
    width: 44px;
}

/* -- ICONE INFO -- */

.info 
{
    display: flex;
    min-height: 24px;
    min-width: 24px;
    border: solid thin #d9d9d9;
    border-radius: 35px;
    margin-top: -4px;
    margin-right: 15px;
    padding-left: 8px;
    padding-top: 3px;
}

/* -- SECTION HEBERGEMENT --*/

#hebergement
{
    display: flex;
}

.pad-heb 
{
    padding-right: 100px;
}

.container-heb
{
    display: flex;
    flex-wrap: wrap;
}

.carte-heb
{
    width: 250px;
    margin-top: 29px;
    margin-right: 29px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px #aaa;
    cursor: pointer;
}

.carte-heb img
{
    width:225px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 125px;
    height: 100%;
    width:100%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
}

/*-- SECTION POPULAIRE --*/

.carte-pop
{   
    display: flex;
    width: 340px;
    margin-top: 30px;
    margin-bottom: 38px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px #aaa;
    cursor: pointer;
}

.carte-pop img
{   
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 154px;
    width: 147px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

/*-- SECTION ACTIVITE --*/

.container-act
{
    display: flex;
    margin-left: -35px;
    padding-top: 50px;
    margin-right: -47px;     
}

.max-img 
{
    overflow: hidden;
    width: 300px;
    min-height:445px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.carte-img-max 
{ 
    height: 86%;
}

.carte-double 
{
    width: 320px;
}
  
.min-img 
{
    overflow: hidden;
    height: 205px;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.carte-img-min 
{ 
    height: 70%;
}

.carte-act img
{
    display: flex;
    width:225px;
    background-color:#ccc;
    padding:1px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    max-height: 125px;
    height: 100%;
    max-width: 225px;
    width:100%;
}

.img-taille
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* -- FOOTER -- */

#container-footer 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 77%;
    margin-left: -40px;
}

/*-- FLEX --*/

.flex 
{
    display: flex;
}

/* -- MARGIN,PADDING -- */

.marg-left--70
{
    margin-left: -70px;
}

.marg-right--80
{
    margin-right: -80px;
}

.pad-20 
{
    padding: 20px;
}

.pad-top-10
{
    padding-top: 10px;
}

.pad-top-45
{
    padding-top: 45px;
}

.pad-top-60
{
    padding-top: 60px;
}

.pad-bottom-10
{
    padding-bottom: 10px;
}

.pad-bottom-20
{
    padding-bottom: 20px;
}

.pad-left-10
{
    padding-left: 20px;
}

.pad-left-50
{
    padding-left: 50px;
}

.pad-left-124
{
    padding-left:124px;
}

.pad-right-15
{
    padding-right: 15px;
}

.pad-right-124
{
    padding-right: 124px;
}

/* -- HOVER -- */

.hover :hover 
{
    background-color: #0065FC;
    transition-duration: 0.5s;
    border-color: white;
    color: white;
}
